
.container{
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border-bottom: 1px solid #badbf1;
    width: 100%;
}
.container strong{
    color: var(--secundary-color)
}

.container p{
    margin: 5px 0;
}